@font-face {
  font-family: "Gotham-Bold";
  src: url(./assets/fonts/GothamBold.ttf) format("ttf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url(./assets/fonts/GothamBook.ttf) format("ttf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url(./assets/fonts/GothamLight.ttf) format("ttf");
}

@font-face {
  font-family: "Proxima-Nova-Reg";
  src: url(./assets/fonts/proxima_nova_reg.ttf) format("ttf");
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url(./assets/fonts/proxima_nova_bold.otf) format("otf");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 100;
}

.google-button {
  width: 100%;
  font-family: "Gotham-Book", sans-serif !important;
  font-size: 20px !important;
  padding: 15px 0 !important;
  border-radius: 6px !important;
  border: solid 1px #000 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.google-button div {
  display: none;
}

.google-button span {
  padding: 0 !important;
}
