@font-face {
  font-family: "Gotham-Bold";
  src: url(./assets/fonts/GothamBold.ttf) format("ttf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url(./assets/fonts/GothamBook.ttf) format("ttf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url(./assets/fonts/GothamLight.ttf) format("ttf");
}

@font-face {
  font-family: "Proxima-Nova-Reg";
  src: url(./assets/fonts/proxima_nova_reg.ttf) format("ttf");
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url(./assets/fonts/proxima_nova_bold.otf) format("otf");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}
